<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Java Mail</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" valign="top" bgcolor="#F3F3F3"
            style="background-color: #F3F3F3; padding: 32px 16px;">
            <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="top" bgcolor="#FFFFFF"
                        style="background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; border-radius: 8px; overflow: clip; max-width: 650px;">

                        <img src="cid:header" alt="Header do e-mail" style="width: 100%;" />

                        <div style="padding: 32px 20px">
                            <span style="font-size: 16px;">Boas vindas à</span>
                            <h1 style="font-family: Georgia; text-transform: uppercase; font-size: 32px; color: #542281; font-weight: bold; margin-top: 8px;">
                                Elements
                            </h1>

                            <div style="max-width: 450px; line-height: 25px;">
                                <br>Olá ${nome}! Estamos muito felizes em poder contar com a sua coragem e determinação para recuperar a harmonia em nosso mundo.
                                <br>Lembre-se: seu time de monstros determina o sucesso que terá em cada batalha, por isso, escolha-o com cuidado.
                                <br><br>Você está pronto(a) para derrotar Systerma? Os Monarcas esperam que sim.
                                <br><br>Boa sorte!
                            </div>
                        </div>

                        <img src="cid:footer" alt="Footer do e-mail" style="width: 100%;" />
                    </td>
                </tr>
            </table></td>
    </tr>
</table>
</body>
</html>